:root{
  /* COLORS */
  --black:#010306;
  --white:#F9FFFF;
  --red:#C9121B;
  --green:#1DAD7E;
  --blue:#0266EA;
  --yellow:#F9BA02;
  --pink:#EA1E97;
}

/* FONTS */
@font-face{
	font-family:codec-reg;
	src:url('../fonts/codec-reg.ttf');
}
@font-face{
	font-family:lgcafe-reg;
	src:url('../fonts/lgcafe-reg.ttf');
}
@font-face{
	font-family:linlib-reg;
	src:url('../fonts/linlib-reg.ttf');
}
@font-face{
	font-family:roboto-reg;
	src:url('../fonts/roboto-reg.ttf');
}

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
}
html,body{
	background:#FFFFFF;
  font-family:lgcafe-reg;
}
body{
	display:flex;
	flex-direction:column;
	align-items:center;
}
div{
	width:100%;
}

/* BACKGROUND */
.bg-black{background:var(--black);color:var(--white);}
.bg-white{background:var(--white);color:var(--black);}
.bg-red{background:var(--red);color:var(--white);}
.bg-green{background:var(--green);color:var(--white);}
.bg-blue{background:var(--blue);color:var(--white);}
.bg-yellow{background:var(--yellow);color:var(--black);}
.bg-pink{background:var(--pink);color:var(--white);}

/* TEXT ALIGN */
.txt-r{text-align:right;}
.txt-l{text-align:left;}
.txt-c{text-align:center;}
.txt-j{text-align:justify;}
